/* Modal */
.overlay {
  position: fixed;
  width: 100vw;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.modal {
  width: 500px;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 6px 24px 0, rgba(0, 0, 0, 0.08) 0 0 0 1px;
}

@media (max-width: 564px) {
  .modal {
    padding: 20px;
  }
}

.modal .form-title-container {
  display: flex;
  justify-content: space-between;
}

.modal .form-title-container button {
  border: none;
  background-color: transparent;
}

.modal .form-title-container button:active {
  color: rgb(255, 50, 50);
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal label {
  font-size: 13px;
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 16px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  border: 0.773px solid rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: -29%;
  top: -68%;
  width: 30px;
  height: 30px;
  content: '';
  background-image: url('./tick.svg');
  background-size: cover;
  background-position: center;
}

@media (max-width: 541px) {
  .checkmark {
    width: 14px;
    height: 14px;
    top: 1px;
  }
  .container .checkmark:after {
    width: 20px;
    height: 20px;
    left: -15%;
    top: -60%;
  }
}
